body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: #0070f3;
}

hr{
  border: 0;
  border-bottom: 1px solid #ccc;
}

nav{
  background-color: rgb(215, 227, 250);
}

footer{
  color:rgb(215, 227, 250);
  margin-top: 80px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(50, 50, 50);
}